<ul>
  <li><a href="/project-page">Project page</a> (entire API)</li>
  <li><a href="/project-table">Project Table</a> (reduced API)</li>
  <li><a href="/location/2016">location/2016</a> <a href="/location/2017">location/2017</a> <a href="/location/2018">location/2018</a></li>
  <li><a href="/envelopes">Envelopes</a></li>
  <li><a href="/pooled">Pooled</a></li>
</ul>
